<footer class="footer">
  <small>
    The Field Service Report App
    by <a href="https://github.com/JoashWalton">Joshua Walton</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.jw.org/en/news/jw/"> JW News</a></li>
    </ul>
  </nav>
</footer>